force-app/main/default/flows/Account_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chatter Post Action for Feed On Record Feed</description>
        <name>Account_Update_Flow_V1PostToChatterAction</name>
        <label>Account_Update_Flow_V1PostToChatterAction</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_ErrorHandledTask</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostToText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_ErrorHandledTask</name>
        <label>Copy 1 of ErrorHandledTask</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>&quot;FollowUpTask&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaForTask3DaysTask</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Account_Update_flow_v1_ErrorEmailAlertBody</name>
        <dataType>String</dataType>
        <expression>&quot;The flow With $Flow.FaultMessage Appeared. $Flow.CurrentDateTime Chekcout Fault&quot;</expression>
    </formulas>
    <formulas>
        <name>ChatterPostToText</name>
        <dataType>String</dataType>
        <expression>&quot;Task - CreateTask  is Created for accountName by createdByName&quot;</expression>
    </formulas>
    <formulas>
        <name>FormulaForTask3DaysTask</name>
        <dataType>DateTime</dataType>
        <expression>(NOW() + 3)</expression>
    </formulas>
    <interviewLabel>Account_Update_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_Update_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Account_Update_Flow_V1PostToChatterAction</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_ErrorHandledTask</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaForTask3DaysTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordit</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_ErrorHandledTask</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordit</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.Description</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <stages>
        <name>FlowStage</name>
        <isActive>false</isActive>
        <label>FlowStage</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChatterGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdByName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
