force-app/main/default/flows/birthDateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkIfUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>checkIfUpdate.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Label.Birthday_Greeting</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Label.Bhai_Ka_Birthday</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>birthdateadf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkIfUpdate.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfBirthDay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfBirthDay</name>
        <label>CheckIfBirthDay</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>checkIfUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not Today</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>userDay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>userMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkIfUpdate.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action_1</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>day</name>
        <dataType>Number</dataType>
        <expression>DAY(TODAY())</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>month</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>userDay</name>
        <dataType>Number</dataType>
        <expression>DAY({!birthdateadf})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>userMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!birthdateadf})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>birthDateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>birthDateFlow</label>
    <loops>
        <name>checkIfUpdate</name>
        <label>checkIfUpdate</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecords</name>
        <label>GetRecords</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfUpdate</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecords</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>birthdateadf</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
