force-app/main/default/flows/CloneingUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddingTothevarAspasLIst</name>
        <label>AddingTothevarAspasLIst</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varAsaps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varASap</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddingPermissionSetToTheUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference></assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GroupRecordLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GroupsingleRecord</name>
        <label>GroupsingleRecord</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference></assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>map_to_permissionOBject</name>
        <label>map to permissionOBject</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varASap.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddingPermissionSetToTheUser.PermissionSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varASap.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creating_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddingTothevarAspasLIst</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDefaultyInProfile</name>
        <label>CheckDefaultyInProfile</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>map_to_permissionOBject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotOwned</defaultConnectorLabel>
        <rules>
            <name>isOwned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddingPermissionSetToTheUser.PermissionSet.IsOwnedByProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddingPermissionSetToTheUser</targetReference>
            </connector>
            <label>isOwned</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForChoices</name>
        <label>CheckForChoices</label>
        <locationX>554</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClonePermissionSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet_Clone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueueASsignment_Clone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPermissionSetASsignments</targetReference>
            </connector>
            <label>ClonePermissionSet</label>
        </rules>
        <rules>
            <name>CloneGroups</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GroupAssignment_Clone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroupAssignment_Clone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGroupsRecords</targetReference>
            </connector>
            <label>CloneGroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForGetPermisisonsSetAssignments</name>
        <label>CheckForGetPermisisonsSetAssignments</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>AddingPermissionSetToTheUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSA_not_found_NULl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPermissionSetASsignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>PSA not found(NULl)</label>
        </rules>
    </decisions>
    <decisions>
        <name>isItThereAnyGroups</name>
        <label>isItThereAnyGroups</label>
        <locationX>774</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>isnotAvailable</defaultConnectorLabel>
        <rules>
            <name>notthere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getGroupsRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupRecordLoop</targetReference>
            </connector>
            <label>IsAvailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CloneingUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloneingUser</label>
    <loops>
        <name>AddingPermissionSetToTheUser</name>
        <label>AddingPermissionSetToTheUser</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <collectionReference>GetPermissionSetASsignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckDefaultyInProfile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BulkingProcessForPermissionSet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GroupRecordLoop</name>
        <label>GroupRecordLoop</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>getGroupsRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GroupsingleRecord</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>BulkingProcessForPermissionSet</name>
        <label>BulkingProcessForPermissionSet</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <inputReference>varAsaps</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Creating_User</name>
        <label>Creating User</label>
        <locationX>554</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>CheckForChoices</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <elementReference>UserDetails.EmailEncodingKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>UserDetails.LocaleSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsMarketingUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsOfflineUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSFContentUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSiteforceContributorUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSiteforcePublisherUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSupportUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsWorkDotComUserFeature</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesActivityRemindersPopup</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesApexPagesDeveloperMode</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesBrowserNotificationEnabled__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesCacheDiagnostics</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesContentEmailAsAndWhen</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesContentNoEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesCreateLEXAppsWTShown</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDedupeStorageMigrationComplete__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisCommentAfterLikeEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisMentionsCommentEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisProfPostCommentEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableAllFeedsEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableBookmarkEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableChangeCommentEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableEndorsementEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableFileShareNotificationsForApi</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableFollowersEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableGoogleEmbedded__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableLaterCommentEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableLikeEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableMentionsPostEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableMessageEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableProfilePostEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesDisableSharePostEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesEnableAutoSubForFeeds</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesEventRemindersCheckboxDefault</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesExcludeMailAppAttachments</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesFavoritesShowTopFavorites</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesFavoritesWTShown</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesFirstTimeInLightning__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesGlobalNavBarWTShown</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesGlobalNavGridMenuWTShown</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHasCelebrationBadge</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHasSentWarningEmail</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHasSentWarningEmail238</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHasSentWarningEmail240</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHeavyPagePromptEnabled__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideBiggerPhotoCallout</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideCSNDesktopTask</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideCSNGetChatterMobileTask</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideChatterOnboardingSplash</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideEndUserOnboardingAssistantModal</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideEventCalendar__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideFLSNotification__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideGoogleEmbedded__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideLightningMigrationModal</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideMailAppEAPUserGuidance__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideMailAppWelcomeMat__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideS1BrowserUI</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideSecondChatterOnboardingSplash</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideSfxWelcomeMat</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideTaskListViewsPopover__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideTrialsCelebration__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesHideTrialsWelcomeMat__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesJigsawListUser</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesLightningExperiencePreferred</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesLiveAgentMiawSetupDeflection</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesLtngPromoReserved10UserPref__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesLtngPromoReserved16UserPref__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesLtngPromoReserved19UserPref__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesNativeEmailClient</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesNewLightningReportRunPageEnabled</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesPathAssistantCollapsed</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesPreviewCustomTheme</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesPreviewLightning</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesReadReceiptLastToggleValue__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesReceiveNoNotificationsAsApprover</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesReceiveNotificationsAsDelegatedApprover</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesRecordHomeReservedWTShown</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesRecordHomeSectionCollapseWTShown</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesReminderSoundOff</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesReverseOpenActivitiesView</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesSalesEssentialsSetupAssistantCompleted__NotFound</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowCityToExternalUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowCityToGuestUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowCountryToExternalUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowCountryToGuestUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowEmailToExternalUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowEmailToGuestUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowFaxToExternalUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowFaxToGuestUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowForecastingChangeSignals</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowForecastingRoundedAmounts</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowManagerToExternalUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesShowManagerToGuestUsers</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesSuppressEventSFXReminders</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesSuppressTaskSFXReminders</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesTaskRemindersCheckboxDefault</field>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>UserDetails.UserRoleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UserName.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getGroupsRecords</name>
        <label>getGroupsRecords</label>
        <locationX>774</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isItThereAnyGroups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPermissionSetASsignments</name>
        <label>GetPermissionSetASsignments</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForGetPermisisonsSetAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UserDetails</name>
        <label>UserDetails</label>
        <locationX>554</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNewUserDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>GetNewUserDetails</name>
        <label>GetNewUserDetails</label>
        <locationX>554</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creating_User</targetReference>
        </connector>
        <fields>
            <name>HeaderComponents</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!UserDetails.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GetNewUserDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetNewUserDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UserName</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>UserName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;LastName is Require&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISNULL({!Name.firstName}))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Alias</name>
                    <dataType>String</dataType>
                    <fieldText>Alias</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Nick_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Nick Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetNewUserDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PermissionSet_Clone</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>PermissionSet Clone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GroupAssignment_Clone</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>GroupAssignment Clone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>QueueASsignment_Clone</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>QueueASsignment Clone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>428</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserDetails</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>GroupMembershipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupMemberShipVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varASap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varAsaps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
