force-app/main/default/flows/CreateContactBasedOnAccountContactCountField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>MakingDecisionBasedOnContactCount</name>
        <label>MakingDecisionBasedOnContactCount</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>There is Nothing</defaultConnectorLabel>
        <rules>
            <name>We_will_be_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfContact</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Subflow_1</targetReference>
            </connector>
            <label>We will be there</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CreateContactBasedOnAccountContactCountField {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateContactBasedOnAccountContactCountField</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MakingDecisionBasedOnContactCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>contactCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Subflow_1</name>
        <label>Subflow 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NumberOfContact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.contactCount__c</elementReference>
        </value>
    </variables>
</Flow>
